<div class="clicksign side  marquee" style="color: white; font-size: 12px; text-shadow: 0px 0px 3px black; font-weight: bold;">
click here &rarr;
</div>

<div id="cameras" class="camera side bg-danger text-light font-weight-light" onClick="on()">
photos of the world unite!
</div> 



<div class="container-fluid fixed-bottom ">
    <div class="row">
        <div class="col- bg-dark text-light font-weight-light footer_home" style="font-size: 12px;"> <a href="mailto:dev@hafur.com?Subject=Inquiry" style="text-decoration: none;color: white;">hafur.com &copy; 2018</a> </div>
    </div>
</div>