<nav>
        <div class="container-fluid fixed-top">
            <div class="row justify-content-start">
                <div class="col-">
                        <ul class="nav navbar-dark bg-dark navbar-fixed-top text-light font-weight-light lead" id="navId">
                        <div>
                        <a class="dropdown-item text-light font-weight-light lead" style="font-size: 16px;" href="https://www.hafur.com">hafur.com</a>
                                 <!-- <li class="nav-item dropdown"> 
                                    <a class="nav-link dropdown-toggle text-light font-weight-light lead" href="index.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="font-size: 14px;">hafur.com</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="https://www.hafur.com">home</a>	
                                       <a class="dropdown-item" href="hafurgram.html">hafurgram</a> 
                                      <a class="dropdown-item" href="blog/">blog</a> 
                                    </div> -->
                        </div>
                                 <li class="nav-item dropdown"> 
                                        <a class="nav-link dropdown-toggle text-light font-weight-light lead" href="index.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="font-size: 14px;">editorials</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="nantahala.php">Nantahala Ntl Forest</a>
                                      <a class="dropdown-item" href="mara.php">Maasai Mara</a>
                                      <a class="dropdown-item" href="southafrica.php">Cape Town to Lesotho</a>
                                    <a class="dropdown-item" href="istanbul.php">Istanbul on BW film</a>
                                    <a class="dropdown-item" href="mexico_belize.php">Islands and Temples in Belize and Mexico</a>
                                    <a class="dropdown-item" href="amsterdam.php">Analog Amsterdam</a>
                                    <a class="dropdown-item" href="rome.php">In volutpat vestibulum a Roma</a>
                                    <a class="dropdown-item" href="hamburg.php">The Road to Berlin - German Cup 1st Round in Hamburg</a>
    
    
                                
                                    </div>
                                    </li>
                          
                            </ul>
                </div>           
            </div>      
        </div>
     <nav>