<div id="overlay" onClick="off()">
        <div id="over_info" class="container gallery overlay-content">
            <br>
       
            <% photoList.forEach(photo => { %>
            <%-   photo; %>
            <% }) %>


         
        </div>
    </div>